.Coffee-image {
  width: 100%;
  height: 250px; 
}

.Coffee-title {
  font-size: 24px;
  margin-top: 5px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Image-block {
   position: relative;  
}

.Coffee-removing   {
   position: absolute; 
   color: red;
   top: -26px; 
   right: -12px;
   font-size: 24px;
   cursor: pointer;
}

.Coffee-price {
   position: absolute; 
   background-color: gray;
   bottom: 0; 
   right: 0;
   font-size: 24px;
   padding: 5px;
}


.col-centered {
    float: none;
    margin: 0 auto;
}

.Coffee-form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.Information-block {
    margin-top: 30px;
}

.Coffee-block {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}