.Coffee-image {
  width: 100%;
}

.Coffee-name {
  font-size: 24px;
  margin-top: 15px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-intro {
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Image-block {
   position: relative;  
}

.Coffee-price {
   position: absolute; 
   background-color: gray;
   bottom: 0; 
   right: 0;
   font-size: 24px;
   padding: 5px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}